@page "/"
@using TrainingSocialMedia.Interfaces
@using TrainingSocialMedia.DataTransferObjects
@inject IPostService PostService

<PageTitle>Index</PageTitle>

@foreach (var post in _posts)
{
    <div class="col-4">
        <div class="card border-dark">
            <div class="card-body">
                <strong>@(post.Author?.UserName):</strong>
                <p>@post.Content</p>
            </div>
        </div>
    </div>
}

@code
{
    private IReadOnlyList<PostDto> _posts = new List<PostDto>();

    protected override async Task OnInitializedAsync()
    {
        _posts = await PostService.GetPosts();
    }
}