@page "/"
@using TrainingSocialMedia.DataTransferObjects.BusinessModels
@inject IPostService PostService

@foreach (var post in _posts)
{
    <div class="card border-dark col-4 post-card">
        <div class="card-body">
            <strong>@(post.AuthorUserName):</strong>
            <p>@post.Content</p>
        </div>
    </div>
}

@code
{
    private IReadOnlyList<PostBusinessModel> _posts = new List<PostBusinessModel>();

    protected override async Task OnInitializedAsync()
    {
        _posts = await PostService.GetPostsAsync();
    }
}